<owl-carousel-o [options]="banner">
    <ng-template carouselSlide>
        <img class="w-screen h-[500px] object-cover" src="https://vetau.com.vn/images/003.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="w-screen h-[500px] object-cover"
            src="https://vetau.com.vn/images/001.jpg" alt="">
    </ng-template>
    <ng-template carouselSlide>
        <img class="w-screen h-[500px] object-cover" src="http://vetau.com.vn/images/002.jpg" alt="">
    </ng-template>
</owl-carousel-o>