<footer>
    <section class="backgroundFooter py-10">
        <article class="grid grid-cols-5 container mx-auto">
            <div>
                <span class="block text-lg font-semibold py-3">Về Travel Link</span>
                <ul>
                    <li class="pb-1"><a href="" class="hover:underline">Giới thiệu</a></li>
                    <li class="pb-1"><a href="" class="hover:underline">Tin tức</a></li>
                    <li class="pb-1"><a href="" class="hover:underline">Điều khoản dịch vụ</a></li>
                    <li class="pb-1"><a href="" class="hover:underline">Tuyển dụng</a></li>
                </ul>
            </div>
            <div>
                <span class="block text-lg font-semibold py-3">Dịch vụ liên kết</span>
                <ul>
                    <li class="pb-1"><a href="" class="hover:underline">Travel Go - Đặt xe đưa đón</a></li>
                    <li class="pb-1"><a href="" class="hover:underline">Travel Hotel - Đặt phòng khách sạn</a></li>
                </ul>
            </div>
            <div>
                <span class="block text-lg font-semibold py-3">Hướng dẫn & Chính sách</span>
                <ul>
                    <li class="pb-1"><a href="" class="hover:underline">Chính sách bảo mật</a></li>
                    <li class="pb-1"><a href="" class="hover:underline">Chính sách hoàn hủy vé</a></li>
                    <li class="pb-1"><a href="" class="hover:underline">Hướng dẫn dịch vụ</a></li>
                    <li class="pb-1"><a href="" class="hover:underline">Hướng dẫn đặt vé & thanh toán</a></li>
                </ul>
            </div>
            <div>
                <span class="block text-lg font-semibold py-3">Đăng ký nhận thông tin và ưu đãi</span>
                <div class="flex">
                    <input class="px-2 py-1 rounded-l border" type="text" id="email" name="email"
                        placeholder="Email của bạn">
                    <button class="bg-blue-700 border border-blue-500 py-1 px-2 rounded-r"><i
                            class="fa fa-paper-plane"></i></button>
                </div>
            </div>
            <div>
                <span class="block text-lg font-semibold py-3">Tải App tại</span>
                <div class="flex justify-between space-x-5">
                    <img clss="w-[152px] h-[52px]" src="https://i.ibb.co/TWS5x4K/Frame-4.png" alt="">
                    <img clss="w-[152px] h-[52px]" src="https://i.ibb.co/JRGn6Ld/Frame-5.png" alt="">
                </div>
            </div>
        </article>
    </section>
    <!-- <section class="bg-white text-center">
        <span>Copyright © 2021 Travel Link</span>
        <ul class="flex mx-auto">
            <li><a href=""><i class="fab fa-facebook"></i>Facebook</a></li>
            <li><a href=""><i class="fab fa-instagram"></i>Instagram</a></li>
            <li><a href=""><i class="fab fa-youtube"></i>Youtube</a></li>
        </ul>
    </section> -->
</footer>