<div class="flex">
    <app-aside></app-aside>
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
        <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
            <div class="w-1/2"></div>
        </header>
        <div class="w-full overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
                <h1 class="text-3xl text-black pb-6">Quản lí thông tin vé</h1>
                <div class="w-full mt-12">
                    <button
                        class="p-2 pl-5 mb-3 pr-5 bg-blue-500 text-gray-100 text-lg rounded-lg focus:border-4 border-blue-300"
                        type="button">
                        <a routerLink="/admin/ticket-add">Tạo thông tin vé</a>
                    </button>
                    <div class="bg-white overflow-auto">
                        <table class="min-w-full bg-white">
                            <thead class="bg-gray-800 text-white">
                                <tr>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">#</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Id</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Name</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Giá vé</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Toa Tàu</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Service</th>

                                </tr>
                            </thead>
                            <tbody class="text-gray-700">
                                <tr *ngFor="let i of ticket, let item = index">
                                    <td class="text-center py-3 px-4">{{item + 1}}</td>
                                    <td class="text-center py-3 px-4">{{i._id}}</td>
                                    <td class="text-center py-3 px-4">{{i.name}}</td>
                                    <td class="text-center py-3 px-4">{{i.price}}</td>
                                    <td class="text-center py-3 px-4">{{i.trainCar.name}}</td>
                                    <td class="text-center py-3 px-4">
                                        <button
                                            class="p-2 pl-5 mx-1 pr-5 bg-blue-500 text-gray-100 text-lg rounded-lg focus:border-4 border-blue-300"
                                            type="button" routerLink='/admin/ticket-edit/{{i._id}}'>Sửa</button>
                                        <button (click)="xoa(i._id)"
                                            class="p-2 pl-5 mx-1 pr-5 bg-yellow-500 text-gray-100 text-lg rounded-lg focus:border-4 border-yellow-300"
                                            type="button">Xóa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <app-footer></app-footer>
        </div>

    </div>
</div>