<app-header></app-header>
<main>
    <section class="bg-blue-700">
        <article class="container mx-auto flex justify-center">
            <div class="relative flex justify-center items-center text-white">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div class="absolute right-201 top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute right-0 top-0 bottom-0 flex justify-center items-center">
                    <i class="px-2 fas fa-subway"></i>
                    <div>
                        <div>
                            <span class="text-base font-semibold">{{train?.addressGo?.name || ""}}</span>
                            <span class="px-2"><i class="fas fa-arrow-right"></i></span>
                            <span class="text-base font-semibold">{{train?.addressArrival?.name || ""}}</span>
                        </div>
                        <span class="ml-5">Lựa chọn tàu</span>
                    </div>
                </div>
            </div>
            <!-- tìm tàu -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="fas fa-memory pr-2"></i>
                    <span class="text-white font-semibold">Lựa chọn Loại toa</span>
                </div>
            </div>
            <!-- tìm toa -->
            <div class="relative flex justify-center items-center ml-31 ">
                <div class="w-56 h-16 bg-yellow-500 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-yellow-500 transform rotate-45">
                    </div>
                    <div
                        class="absolute top-0 -left-8 h-8 w-8 border-16 border-yellow-500 border-b-transparent border-l-transparent transform rotate-0">
                    </div>
                    <div
                        class="absolute bottom-0 -left-8 h-8 w-8 border-16 border-yellow-500 border-b-transparent border-l-transparent transform rotate-90">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="material-icons pr-2">airline_seat_recline_normal</i>
                    <span class="font-semibold">Lựa chọn chỗ ngồi</span>
                </div>
            </div>
            <!-- tìm ghế -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="fas fa-user-lock pr-2"></i>
                    <span class="font-semibold">Thông tin khách hàng</span>
                </div>
            </div>
            <!-- thông tin khách hàng -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="far fa-credit-card pr-2"></i>
                    <span class="font-semibold">Thanh toán</span>
                </div>
            </div>
            <!-- Hoàn thành -->
        </article>
    </section>
    <section class="grid grid-cols-12 space-x-3 container mx-auto my-10">
        <article class="col-span-3">
            <form action="" class=" border relative overflow-hidden bg-fixed">
                <img class="w-96 h-[500px] opacity-30"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7-_h5oFnFrvWOHqK4BNggZCMP_I78Uj-Fhg&usqp=CAU"
                    alt="">
                <div class="absolute top-0 bottom-0 left-0 right-0 p-10 space-y-2">
                    <span class="text-3xl font-semibold text-center block uppercase">Thông tin vé</span>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Chặng:</label>
                        <span class="col-span-3">{{train?.addressGo?.name || ""}} - {{train?.addressArrival?.name || ""}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Ngày đi:</label>
                        <span class="col-span-3">{{train?.thoiGianDi | date: "dd/MM/YYYY"}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Ngày về:</label>
                        <span class="col-span-3">{{train?.thoiGianVe | date: "dd/MM/YYYY"}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Số hiệu:</label>
                        <span class="col-span-3">{{train?.name}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Toa tàu:</label>
                        <span class="col-span-3">{{trainCar?.name}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Loại chuyến đi</label>
                        <span class="col-span-3">{{typeTrip?.name}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Số người:</label>
                        <span class="col-span-3">1</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Loại chỗ ngồi:</label>
                        <span class="col-span-3">{{chooseTrainCar?.positionTrainCar}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Giá vé:</label>
                        <p class="col-span-3"> <span class="bg-red-500 text-white px-2">{{chooseTrainCar?.priceTrainCar | vnd}}</span> ₫/khách</p>
                    </div>
                </div>
            </form>
        </article>
        <article class="col-span-1"></article>
        <form class="col-span-8">
            <span class="text-3xl font-semibold text-center block uppercase">Lựa chọn chỗ</span>
            <div class="grid grid-cols-12 gap-5 border border-blue-500 mx-auto border-separate">
                <div class="col-span-2" *ngFor="let dataDesk of dataDesks">
                    <button *ngIf="dataDesk.status == true"
                        class="border-b-2 rounded-md border-blue-500 px-5 py-2 mx-1 cursor-pointer focus:ring-yellow-500 focus:ring-2  bg-yellow-500 disabled:bg-yellow-500">
                        {{dataDesk.name}}
                    </button>
                    <button *ngIf="dataDesk.status == false" (click)="getId(dataDesk._id)"
                        class="border-b-2 rounded-md border-blue-500 px-5 py-2 mx-1 cursor-pointer focus:ring-yellow-500 focus:bg-red-500 bg-gray-300 ">
                        {{dataDesk.name}}
                    </button>
                </div>
            </div>
            <article>
                <ul class="flex justify-around">
                    <li class="flex items-center space-x-3"><i class="far fa-square text-4xl text-gray-300"></i>
                        <span>Ghế
                            chưa chọn</span>
                    </li>
                    <li class="flex items-center space-x-3"><i class="fas fa-stop text-4xl text-yellow-500"></i>
                        <span>Ghế đã
                            chọn</span>
                    </li>
                    <li class="flex items-center space-x-3"><i class="fas fa-stop text-4xl text-red-500"></i>
                        <span>Ghế bạn chọn</span>
                    </li>
                </ul>
            </article>
            <article class="font-semibold space-x-2 text-2xl my-10">
                <span>Chọn chỗ:</span>
                <span *ngIf="isGetDesk == true">{{getDesk.name}}</span>
            </article>
            <article class="space-x-5 text-center">
                <button
                    (click)="changReturnChooseCar()"
                    class="bg-blue-500 px-10 py-2 rounded-md text-lg text-white hover:bg-white hover:text-blue-500 border border-blue-500 ">
                   Trở lại
                </button>
                <button (click)="changeStatusDesk(getDesk._id)"
                    class="bg-blue-500 px-10 py-2 rounded-md text-lg text-white hover:bg-white hover:text-blue-500 border border-blue-500 ">
                    Tiếp tục
                </button>
            </article>
        </form>
    </section>
</main>