<app-header></app-header>
<main class="backgroundSuccess py-28">
    <section class="container mx-auto p-10 border bg-white rounded-md w-[900px] bg-opacity-50">
        <div class="mx-auto my-auto">
            <span class="block text-4xl font-bold uppercase text-center">đặt vé thành công</span>
            <span class="block capitalize text-sm text-center my-3">cảm ơn quý khách đã quan tâm đến
                travellink</span>
            <div class="bg-pink-400 py-2 my-3">
                <span class="block font-bold text-white text-center text-2xl">Mã số đặt tour của Quý Khách
                    là: </span>
                <span class="block font-bold text-white text-center text-4xl pt-2">{{infoTicket.code}}</span>
            </div>
            <div>
                <span></span>
            </div>

            <p class="block text-center px-5">Mọi thông tin liên quan chúng đã gửi tới email đặt vé của quý khách,
                quý
                khách vui
                lòng
                không chia sẻ mã đặt chỗ cho bất cứ ai.
                Nếu có thắc mắc, Quý Khách vui lòng liên hệ qua số hotline <span class="text-red-500">1908
                    3883</span>.</p>
            <span class="block text-center"> Xin chân thành cảm ơn Quý khách hàng!</span>
        </div>
    </section>
</main>