<app-header></app-header>
<main>
    <section class="bg-blue-700">
        <article class="container mx-auto flex justify-center">
            <div class="relative flex justify-center items-center text-white">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div class="absolute right-201 top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute right-0 top-0 bottom-0 flex justify-center items-center">
                    <i class="px-2 fas fa-subway"></i>
                    <div>
                        <div>
                            <span class="text-base font-semibold">{{train?.addressGo?.name || ""}}</span>
                            <span class="px-2"><i class="fas fa-arrow-right"></i></span>
                            <span class="text-base font-semibold">{{train?.addressArrival?.name || ""}}</span>
                        </div>
                        <span class="ml-5">Lựa chọn tàu</span>
                    </div>
                </div>
            </div>
            <!-- tìm tàu -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="fas fa-memory pr-2"></i>
                    <span class="text-white font-semibold">Lựa chọn Loại toa</span>
                </div>
            </div>
            <!-- tìm toa -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="material-icons pr-2">airline_seat_recline_normal</i>
                    <span class="font-semibold">Lựa chọn chỗ ngồi</span>
                </div>
            </div>
            <!-- tìm ghế -->
            <div class="relative flex justify-center items-center ml-31 ">
                <div class="w-56 h-16 bg-yellow-500 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-yellow-500 transform rotate-45">
                    </div>
                    <div
                        class="absolute top-0 -left-8 h-8 w-8 border-16 border-yellow-500 border-b-transparent border-l-transparent transform rotate-0">
                    </div>
                    <div
                        class="absolute bottom-0 -left-8 h-8 w-8 border-16 border-yellow-500 border-b-transparent border-l-transparent transform rotate-90">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="fas fa-user-lock pr-2"></i>
                    <span class="font-semibold">Thông tin khách hàng</span>
                </div>
            </div>
            <!-- thông tin khách hàng -->
            <div class="relative flex justify-center items-center ml-31">
                <div class="w-56 h-16 bg-blue-700 relative">
                    <div
                        class="absolute left-201 border-t border-r top-0 bottom-0 my-auto h-45 w-45 bg-blue-700 transform rotate-45">
                    </div>
                </div>
                <div class="absolute top-0 bottom-0 flex justify-center items-center text-white font-semibold">
                    <i class="far fa-credit-card pr-2"></i>
                    <span class="font-semibold">Thanh toán</span>
                </div>
            </div>
            <!-- Hoàn thành -->
        </article>
    </section>
    <section class="grid grid-cols-12 space-x-3 container mx-auto my-10">
        <article class="col-span-3">
            <form action="" class=" border relative overflow-hidden bg-fixed">
                <img class="w-96 h-[500px] opacity-30"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7-_h5oFnFrvWOHqK4BNggZCMP_I78Uj-Fhg&usqp=CAU"
                    alt="">
                <div class="absolute top-0 bottom-0 left-0 right-0 p-10 space-y-2">
                    <span class="text-3xl font-semibold text-center block uppercase">Thông tin vé</span>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Chặng:</label>
                        <span class="col-span-3">{{train?.addressGo?.name || ""}} - {{train?.addressArrival?.name ||
                            ""}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Ngày đi:</label>
                        <span class="col-span-3">{{train?.thoiGianDi | date: "dd/MM/YYYY"}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Ngày về:</label>
                        <span class="col-span-3">{{train?.thoiGianVe | date: "dd/MM/YYYY"}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Số hiệu:</label>
                        <span class="col-span-3">{{train?.name}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Toa tàu:</label>
                        <span class="col-span-3">{{trainCar?.name}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Loại vé:</label>
                        <span class="col-span-3">{{typeTrip?.name}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Số người:</label>
                        <span class="col-span-3">1</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Loại chỗ ngồi:</label>
                        <span class="col-span-3">{{chooseTrainCar?.positionTrainCar}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Mã chỗ ngồi:</label>
                        <span class="col-span-3">{{desk?.name}}</span>
                    </div>
                    <div class="grid grid-cols-4 space-x-3 text-lg">
                        <label class="font-semibold col-span-1 text-left" for="">Giá vé:</label>
                        <p class="col-span-3"><span class="bg-red-500 text-white px-2">{{chooseTrainCar?.priceTrainCar |
                                vnd}}</span> ₫/khách</p>
                    </div>
                </div>
            </form>
        </article>
        <article class="col-span-1"></article>
        <form class="col-span-8">
            <span class="text-3xl font-semibold text-center block uppercase">Thông tin người đặt vé</span>
            <span class="block bg-blue-300 px-2 py-1 rounded-md my-5"><span class="text-red-500">* </span>Quý khách
                vui lòng điền đầy đủ và chính xác
                các
                thông tin về
                người mua
                vé dưới đây. Các thông tin
                sẽ được sử dụng để xác mình người mua vé và lấy vé tại ga trước khi lên tàu theo đúng các quy định
                của Tổng công ty Đường sắt Việt Nam</span>
            <article class="grid grid-cols-2 mx-5 my-10 gap-5">
                <form  [formGroup]='formUser'>
                    <div class="flex gap-10">
                        <div class="space-x-2">
                            <label for="">Họ và tên <span class="text-red-500">*</span></label>
                            <input class="border border-gray-500 w-80 rounded-md py-1 px-2 focus:outline-none"
                                type="text" name="" id="" formControlName='nameUser' placeholder="Họ và tên">
                        </div>
                        <div class="space-x-2">
                            <label for="">Số CMND/Hộ chiếu <span class="text-red-500">*</span></label>
                            <input class="border border-gray-500 w-[300px] rounded-md py-1 px-2 focus:outline-none"
                                type="text" name="" id="" formControlName='cmnd' placeholder="Số CMND/Hộ chiếu">
                        </div>
                    </div>
                    <div class="flex gap-10">
                        <div class="space-x-2">
                            <label class="" for="">Email <span class="text-red-500">*</span></label>
                            <input class="border border-gray-500 w-80 rounded-md py-1 px-2 focus:outline-none"
                                type="email" name="" id="" formControlName='email' placeholder="Email...">
                        </div>
                        <div class="space-x-2">
                            <label class="" for="">Số điện thoại <span class="text-red-500">*</span></label>
                            <input class="border border-gray-500 w-[300px] rounded-md py-1 px-2 focus:outline-none"
                                type="tel" name="" id="" formControlName='phoneNumber' placeholder="Số điện thoại">
                        </div>
                    </div>
                    <p class="block text-red-500 my-5">Để ngăn chặn dịch bệnh COVID-19, ĐSVN kính
                        mong quý khách nhập đúng thông tin số điện thoại cũng như địa chỉ email để trong trường hợp cần
                        thông báo chúng tôi có thể liên hệ với quý khách hàng nhanh nhất có thể.</p>

                    <article class="space-x-5 mt-10 text-center">
                        <button
                            class="bg-blue-500 px-10 py-2 rounded-md text-lg text-white hover:bg-white hover:text-blue-500 border border-blue-500 ">
                            <a [routerLink]="['/client/seat', desk?.toaTau]">Trở lại</a>
                        </button>
                        <button (click)="getUser()"
                            class="bg-blue-500 px-10 py-2 rounded-md text-lg text-white hover:bg-white hover:text-blue-500 border border-blue-500 ">
                            Tiếp tục
                        </button>
                    </article>
                </form>

            </article>

        </form>
    </section>
</main>