<header class="container mx-auto flex justify-between my-5">
    <section>
        <img class="py-6 object-cover" src="https://i.ibb.co/7VC9HP7/Logo.png" alt="Logo">
    </section>
    <nav class="text-sm font-medium">
        <ul class="flex justify-between items-center">
            <li class="px-7 py-6 h-full hover:bg-white hover:text-black" id="product">
                <a class="relative group text-lg" routerLink='/client'><i class="px-2 fas fa-subway"></i>Trang chủ
                    <div
                        class="absolute bottom-0 left-0 right-0 h-px rounded-full bg-black -mb-2 transform scale-0 group-hover:scale-100 animation duration-300 ease-in-out">
                    </div>
                </a>
            </li>
            <li class="px-7 py-6 h-full hover:bg-white hover:text-black" id="product">
                <a class="relative group text-lg" routerLink='/client/placemanager'> <i
                        class="px-2 fas fa-tasks"></i>Quản lý đặt
                    chỗ
                    <div
                        class="absolute bottom-0 left-0 right-0 h-px rounded-full bg-black -mb-2 transform scale-0 group-hover:scale-100 animation duration-300 ease-in-out">
                    </div>
                </a>
            </li>
            <li class="px-7 py-6 h-full hover:bg-white hover:text-black" id="about">
                <a class="relative group text-lg" href="#/about"><i class="px-2 fas fa-gift"></i>Ưu đãi
                    <div
                        class="absolute bottom-0 left-0 right-0 h-px rounded-full bg-black -mb-2 transform scale-0 group-hover:scale-100 animation duration-300 ease-in-out">
                    </div>
                </a>
            </li>
            <li class="px-7 py-6 h-full hover:bg-white hover:text-black" id="contact">
                <a class="relative group text-lg" routerLink='/client/blogs'> <i class="px-2 fas fa-blog"></i>Blog
                    <div
                        class="absolute bottom-0 left-0 right-0 h-px rounded-full bg-black -mb-2 transform scale-0 group-hover:scale-100 animation duration-300 ease-in-out">
                    </div>
                </a>
            </li>
            <li class="px-7 py-6 h-full hover:bg-white hover:text-black" id="contact">
                <a class="relative group text-lg" routerLink='/client/contact'><i
                        class="px-2 fas fa-blender-phone"></i>Liên
                    hệ
                    <div
                        class="absolute bottom-0 left-0 right-0 h-px rounded-full bg-black -mb-2 transform scale-0 group-hover:scale-100 animation duration-300 ease-in-out">
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</header>