<app-header></app-header>

<main>
    <section class="bg-blue-700 text-white text-xl font-semibold py-3 flex">
        <article class="container mx-auto flex items-center">
            <span>Liên hệ</span>
            <i class="fas fa-angle-double-right px-2"></i>
        </article>
    </section>
    <section>
        <iframe class="w-screen my-10"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29790.736431780802!2d105.7591141950769!3d21.039004908414935!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1632226331699!5m2!1svi!2s"
            height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </section>
    <section class="grid grid-cols-2 gap-10 container mx-auto my-10">
        <!-- <img src="image/sc1.jpg" alt="" class="h-full w-full" > -->
        <article>
            <span class="font-semibold text-xl uppercase text-center block">Công ty đầu tư và phát triển
                travellink</span>
            <div class="text-lg space-y-5 my-10">
                <div class="grid grid-cols-12">
                    <span class="col-span-1">
                        <i class="fas fa-map-pin"></i>
                    </span>
                    <span class="col-span-11">Tòa nhà FPT Polytechnic, Phố Trịnh Văn Bô, Xuân Phương, Nam Từ Liêm, Hà
                        Nội</span>
                </div>
                <div class="grid grid-cols-12">
                    <span class="col-span-1">
                        <i class="fas fa-phone-volume"></i>
                    </span>
                    <span class="col-span-11">(+84)92 111 222</span>
                </div>
                <div class="grid grid-cols-12">
                    <span class="col-span-1">
                        <i class="fas fa-envelope-open-text"></i>
                    </span>
                    <span class="col-span-11">travellink@gmail.com</span>
                </div>
                <div class="grid grid-cols-12">
                    <span class="col-span-1">
                        <i class="fab fa-edge"></i>
                    </span>
                    <span class="col-span-11">www.travellink.com.vn</span>
                </div>
            </div>
        </article>
        <form>
            <span class="font-semibold text-xl uppercase text-center block">Liên hệ với chúng tôi</span>
            <input type="text" placeholder="Name : "
                class="block border w-full focus:outline-white my-2 py-2 rounded-md pl-5">
            <input type="text" placeholder="Email : "
                class="block border w-full focus:outline-white my-2 py-2 rounded-md pl-5">
            <input type="text" placeholder="Company : "
                class="block border w-full focus:outline-white my-2 py-2 rounded-md pl-5">
            <input type="text" placeholder="Mobile : "
                class="block border w-full focus:outline-white my-2 py-2 rounded-md pl-5">
            <textarea name="" id="" cols="20" rows="7" placeholder="Messages ..."
                class="block border w-full focus:outline-white py-2 rounded-md pl-5"></textarea>
            <button
                class="block my-2 py-3 px-10 text-white bg-blue-600 rounded-lg hover:bg-red-500 transition-colors ml-64">Send</button>
        </form>
    </section>
</main>