<div class="flex">
    <app-aside></app-aside>
    <div class="w-full flex flex-col h-screen overflow-y-hidden">
        <!-- Desktop Header -->
        <header class="w-full items-center bg-white py-2 px-6 hidden sm:flex">
        </header>
        <div class="w-full overflow-x-hidden border-t flex flex-col">
            <main class="w-full flex-grow p-6">
                <h1 class="text-3xl text-black pb-6">Quản lí ghế</h1>
                <div class="w-full mt-12">
                    <button
                        class="p-2 pl-5 mb-3 pr-5 bg-blue-500 text-gray-100 text-lg rounded-lg focus:border-4 border-blue-300"
                        type="button">
                        <a routerLink="/admin/desk-add">Tạo chỗ</a>
                    </button>
                    <div class="bg-white overflow-auto">
                        <table class="min-w-full bg-white">
                            <thead class="bg-gray-800 text-white">
                                <tr>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">#</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Id</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Name</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Status</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Toa Tàu</th>
                                    <th class="text-center py-3 px-4 uppercase font-semibold text-sm">Service</th>

                                </tr>
                            </thead>
                            <tbody class="text-gray-700">
                                <tr *ngFor="let i of desk, let item = index">
                                    <td class="text-center py-3 px-4">{{item + 1}}</td>
                                    <td class="text-center py-3 px-4">{{i._id}}</td>
                                    <td class="text-center py-3 px-4">{{i.name}}</td>
                                    <td class="text-center py-3 px-4">{{i.status}}</td>
                                    <td class="text-center py-3 px-4">{{i.toaTau.name}}</td>

                                    <td class="text-center py-3 px-4">
                                        <button
                                            class="p-2 pl-5 mx-1 pr-5 bg-blue-500 text-gray-100 text-lg rounded-lg focus:border-4 border-blue-300"
                                            type="button" routerLink='/admin/desk-edit/{{i._id}}'>Sửa</button>
                                        <button (click)="xoa(i._id)"
                                            class="p-2 pl-5 mx-1 pr-5 bg-yellow-500 text-gray-100 text-lg rounded-lg focus:border-4 border-yellow-300"
                                            type="button">Xóa</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </main>

            <app-footer></app-footer>
        </div>

    </div>
</div>